
.content-header {
    height: 120px;
    margin:auto;
    /*padding: 104px 16px 48px 256px;*/
    padding: 16px;
    color: #fff;
    background: #3f51b5;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

.post-list {
    padding: 0;
    margin: 0 -12px;
    list-style: none;
}

#abody { 
    /*background-color:#f5f6f7;*/
    background-color:#f6f6f6;
    width:1285px;
    margin:auto auto;
    padding:0;
    font-family:Microsoft Yahei, sans-serif; 
    line-height: 25px;
}

/*.box1{
    float:left;
    width:960px;
    background-color:#ffffff; 
    padding:10px;
    margin:0 200px 0 400px;
    border-top:2px solid #ffffff;
    border-right:5px solid #ffffff;
    border-bottom:2px solid #ffffff;
    border-left:5px solid #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border-radius: 12px;
}*/



/*.box2{
    height:130px;
    background-color:#3f51b5;
    color:#fff;
    font-family:Microsoft Yahei, sans-serif; 
}*/

a { 
    color:#00abff;
    text-decoration:none; 
}

.list_title { 
    color:#00abff;
    text-decoration:none; 
    font-size:25px;
    font-family:"Microsoft Yahei";
    margin:0;
}
h1 { 
    font-weight:normal;
    border-bottom:1px solid #bbb;
    padding:0 0 10px 0;
    margin-top:10px;
    margin-bottom:10px;
}

h5 {
    font-weight:normal;
    margin:15px 0 0;
}


#content { 
    float:left;
    width:69%;
    /*border-right:1px solid black;*/

    border-top:2px solid #ffffff;
    border-right:5px solid #ffffff;
    border-bottom:2px solid #ffffff;
    border-left:5px solid #ffffff;

    padding:0 10px 0 15px;
    /*margin:auto auto;*/

    margin-left:20px; 
    margin-top:20px;
    margin-bottom:20px;  
    margin-right:15px;

    -moz-box-shadow:0px 0px 12px #000000; 
    -webkit-box-shadow:0px 0px 12px #000000; 
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border-radius: 12px;
}


#sidebar { 
    display:inline-block;
    /*float:right;*/
    width:15%;
    padding:10px;
    margin:20px 50px 0 15px;
    background:#ffffff;  
    height:100%;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    border-radius: 12px;

}
p.tags {
    font-family:"Microsoft Yahei"
    margin:3px 0 3px 0;
}
p.date { 
    color:#ccc;
    font-family: georgia, serif;
    font-size: 12px;
    margin:5px;
    margin-bottom:3px;
    font-style: italic; 
    font-style: normal; 
    line-height:12px;
}

/* pagination */
.pagination { 
    margin:40px 0; 
    font-weight:bold;
}

/* forms */
label { 
    float:left;
    clear:both;
    color:#333;
    margin-bottom:4px; 
}
input, textarea { 
    clear:both;
    float:left;
    margin:0 0 10px;
    background:#ededed;
    border:0;
    padding:6px 10px;
    font-size:12px;
}
input[type=submit] {
    font-weight:bold;
    /*background:#00abff;*/
    color:#fff;
    padding:10px 20px;
    font-size:14px;
    text-transform:uppercase; 
}
.errorlist { 
    color:#cc0033;
    float:left;
    clear:both;
    padding-left:10px; 
}

/* comments */
.comment {
    padding:10px;
}
.comment:nth-child(even) {
    background:#efefef;
}
.comment .info {
    font-weight:bold;
    font-size:12px;
    color:#666;
}